@font-face
  font-family: "LXGW WenKai"
  src: url("/fonts/LXGWWenKai-Regular.ttf") format("truetype")
  font-weight: normal
  font-style: normal
  font-display: swap
@font-face
  font-family: "LXGW WenKai Light"
  src: url("/fonts/LXGWWenKai-Light.ttf") format("truetype")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: "Cascadia Mono"
  src: url("/fonts/CascadiaMono.woff2") format("woff2")
  font-weight: normal
  font-style: normal
  font-display: swap
